*
{
    margin:0px;
    padding:0px;
    font-family: poppins;
    box-sizing: border-box;
}

/*link-deco*/
a
{
    text-decoration:none;
}

/*unordered list*/
ul
{
    list-style:none;
}

body
{
    margin: 0px;
    padding:0px;
    font-family: poppins;
}

/*--blog--*/
#blog
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
